* {
  box-sizing: border-box;
  font-family: "inter-variable", sans-serif;
  font-variation-settings: "wght" 400, "slnt" 0;
  padding: 0.5rem;
  color: #0026a0;
  text-align: left;
}

html {
  scroll-behavior: smooth;
  padding: 0;
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  margin: 0 6rem;
}

.topnav a {
  float: left;
  display: flex;
  align-items: center;
  color: #0026a0;
  text-align: center;
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem;
}

.nav-links a:hover {
  background-color: #e2edff;
  border-radius: 1rem;
}

.topnav a.active {
  background-color: #0026a0;
  color: #fff;
  border-radius: 1rem;
}

.topnav input[type="text"] {
  color: #0026a0;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

::placeholder {
  color: #e2edff;
  opacity: 1; /* Firefox */
}

.btn-search img {
  width: 2.5rem;
  height: auto;
}

.topnav .search-container button {
  float: right;
  width: 60%;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background: #fff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.leftnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.logo {
  width: 6rem;
  height: auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 4rem;
}

.rightnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: #e2edff 2px solid;
  border-radius: 12rem;
}
.form-container:focus-within {
  border-color: #0026a0;
}

.topnav .search-container {
  float: right;
}

.topnav .search-container button:hover {
  background: #e2edff;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #0026a0;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
}

a.btn {
  font-size: 2rem;
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  padding: 2rem 3rem;
  background-color: #0026a0;
  color: #fff;
  border-radius: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.btn:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

h1 {
  font-size: 5rem;
  color: #0026a0;
  margin: 0rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 2rem;
  max-width: 60%;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

section {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: fit-content;
  width: 100%;
  height: 100%;
}

/* Hero Section */

#hero {
  background: #e2edff;
  background: linear-gradient(
    180deg,
    rgba(226, 237, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 12rem 0 20rem 0;
  text-align: center;
}

#hero-container {
  display: flex;

  flex-direction: row;
  align-items: center;
  width: 60%;
  max-width: 100%;
}

.heroImage {
  width: 24rem;
  height: auto;
  border-radius: 8px;
}

.button-arrow {
  padding: 0.1rem 0 0 0.8rem;
  height: 1.6rem;
  color: #fff;
}

/* Card Section */

.cardspace {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0rem;
  margin: 1rem;
  width: 100%;
  max-width: 30%;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.cardtext {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.1rem;
  color: #0026a0;
  margin: 0.1rem;
}

.cardimage {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
  margin: 0rem;
  padding: 0rem;
}

.cardcontent {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
